:root {
    --txt-color: azure;
    --border-color1: palevioletred;
    --border-color2: rgb(103, 149, 248);
    --bg-color:  rgb(0, 0, 0, 0.6);

}


*{
    font-family: 'Poppins', sans-serif;
}

header, footer {
    color: var(--txt-color);
}

#survey-box {
    color: var(--txt-color);
}

h1 {
    margin-left: 5%;
    font-weight: bolder;
    font-size: 5rem;
}

h2 {
    color: var(--txt-color);
}

header p {
    font-size: 1.2rem;
}

body {
    background-image: url(https://coolwallpapers.me/picsup/3026732-egg_fish_food_japan_maki_rice_salmon_soy_sushi_tuna.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
}

#survey-box {
    background: transparent;
    border-style: hidden;
    border-color: var(--border-color1);
    border-width: 5px;
    margin-top: 5%;
    margin-bottom: 5%;
    height: 30rem;
}

#qp-container {
    width: 40rem;
    margin-top: 5%;
    margin-bottom: 3%;
    padding-bottom: 1%;
    background: var(--bg-color);
    border-style: solid;
    border-color: var(--border-color2);
    border-width: 3px;
    

}

#answer1, #answer2, #answer3, #answer4 {
    display: none;  
}

#answers {
    list-style: none;
}

.buttonDiv {
    margin-top: 0px;
}