*{
    font-family: 'Poppins', sans-serif;
}
main {
    background-image: url(https://images.pexels.com/photos/1415734/pexels-photo-1415734.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}

h1 {
    margin-left: 5%;
    font-weight: bolder;
    font-size: 5rem;
}

header p {
    font-size: 1.2rem;
}

