*{
    font-family: 'Poppins', sans-serif;
}

h1 {
    margin-left: 5%;
    font-weight: bolder;
    font-size: 5rem;
}

header p {
    font-size: 1.2rem;
}

body {
    background-image: url(https://coolwallpapers.me/picsup/3026732-egg_fish_food_japan_maki_rice_salmon_soy_sushi_tuna.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

